* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

li a {
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

h1 {
  color: #cd6326;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 1px;
}

h2 {
  color: #333333;
  font-size: 48px;
  line-height: 72px;
}

h3 {
  color: #333333;
  font-size: 27px;
  line-height: 40.5px;
}

h4 {
  color: #f7f7f7;
  font-size: 22px;
  line-height: 36px;
}

.sh2 {
  color: #666666;
  font-size: 24px;
  line-height: 36px;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-color {
  background-color: #cccccc;
}

.container-full {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
}

.header-img {
  background: url(/image/header-beackground.png) no-repeat #02160b;
  background-size: 100% 100%;
  height: 780px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
  padding-top: 20px;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo .logo-title {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

header .header-navigation {
  width: 480px;
  display: flex;
  align-items: center;
}

header .header-navigation .navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

header .header-navigation .navigation-list .list-item-sign {
  border: 2px #cd6326 solid;
  border-radius: 5px;
  padding: 2px 23px;
}

header .header-navigation .navigation-list .list-item-sign a {
  text-align: center;
  line-height: 40px;
}

header .header-navigation .navigation-list .list-item-sign:hover {
  background-color: #cd6326;
}

header .header-navigation .navigation-list .list-item-sign:active {
  border-color: #8f5613;
  background-color: #8f5613;
}

.survival .survival-body h1 {
  margin-bottom: 51px;
  max-width: 199px;
}

.survival .survival-body .survival-text {
  max-width: 274px;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 65px;
  color: #f7f7f7;
}

.survival .survival-body .survival-button {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  padding: 16px 42px;
  color: #f7f7f7;
  background-color: #cd6326;
  border-radius: 5px;
}

.survival .survival-body .survival-button:hover {
  background-color: #e39128;
}

.survival .survival-body .survival-button:active {
  background-color: #8f5613;
}

.section-main-block .block-title {
  display: block;
  text-align: center;
  font-size: 48px;
  line-height: 76px;
}

.section-main-block .block-title h2 {
  padding-top: 120px;
}

.section-main-block .block-title .sub-h {
  font-size: 24px;
  color: #666666;
  margin-bottom: 100px;
}

.section-main-block .scroll-image-block {
  display: flex;
}

.section-main-block .scroll-image-block .scroll-image-list {
  margin-bottom: 220px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.section-main-block .scroll-image-block .scroll-image-list .image-item {
  position: relative;
}

.section-main-block .scroll-image-block .scroll-image-list .image-item li a {
  width: 100%;
}

.section-main-block
  .scroll-image-block
  .scroll-image-list
  .image-item
  li
  a
  img {
  max-width: 100%;
  max-height: 100%;
}

.section-main-block
  .scroll-image-block
  .scroll-image-list
  .image-item
  .image-item-titel {
  position: absolute;
  bottom: 60px;
  width: 100%;
}

.section-main-block
  .scroll-image-block
  .scroll-image-list
  .image-item
  .image-item-titel
  h4 {
  text-align: center;
  margin-bottom: 10px;
}

.section-main-block
  .scroll-image-block
  .scroll-image-list
  .image-item
  .image-item-titel
  span {
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 27px;
  color: #f7f7f7;
}

.section-main-block .scroll-image-block .scroll-image-list .arrow-rotate {
  position: relative;
  transform: rotate(180deg);
  top: -15px;
}

.section-main-block .form-block {
  display: block;
  text-align: center;
  max-width: 660px;
  margin: 0 auto;
}

.section-main-block .form-block h3 {
  margin-bottom: 59px;
}

.section-main-block .form-block .form {
  display: flex;
  padding-bottom: 239px;
  width: 100%;
  height: 100%;
}

.section-main-block .form-block .form .email-field {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 30px;
  padding: 15px;
  border: 1px solid #666666;
  background-color: #cccccc;
}

.section-main-block .form-block .form .button {
  position: relative;
  font-family: "Roboto", sans-serif;
  left: -2px;
  font-size: 23px;
  line-height: 30px;
  padding: 0 35px;
  color: #f7f7f7;
  background-color: #cd6326;
  border-radius: 0 5px 5px 0;
}

.section-main-block .form-block .form .button:hover {
  background-color: #e39128;
}

.section-main-block .form-block .form .button:active {
  background-color: #8f5613;
}

.cellar-brg {
  background: url(/image/footer-background.jpg) no-repeat #181617;
  background-size: 100% 100%;
}

.footer-navigation-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 360px;
  line-height: 60px;
}

.footer-navigation-block .down-logo {
  display: flex;
  align-items: center;
  width: 240px;
}

.footer-navigation-block .down-logo span {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

.footer-navigation-block .down-navigation-block {
  width: 475px;
}

.footer-navigation-block .down-navigation-block .down-navigation {
  min-width: 100%;
}

.footer-navigation-block
  .down-navigation-block
  .down-navigation
  .down-navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigation-block .down-navigation-block-links .dowm-navigation {
  width: 240px;
}

.footer-navigation-block
  .down-navigation-block-links
  .dowm-navigation
  .dowm-navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigation-block
  .down-navigation-block-links
  .dowm-navigation
  .dowm-navigation-list
  li {
  max-width: 40px;
  max-height: 40px;
}

.footer-navigation-block
  .down-navigation-block-links
  .dowm-navigation
  .dowm-navigation-list
  li
  img {
  background-color: #f7f7f7;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .container-full {
    max-width: 100%;
  }

  .container {
    max-width: 750px;
  }

  .scroll-image-list {
    flex-wrap: wrap;
  }

  .section-main-block .scroll-image-block {
    display: block;
  }

  .section-main-block .scroll-image-block .scroll-image-list {
    display: block;
    text-align: center;
    margin-bottom: 100px;
  }

  .section-main-block .scroll-image-block .scroll-image-list .arrow {
    transform: rotate(90deg);
    display: inline-block;
  }

  .section-main-block .scroll-image-block .scroll-image-list .arrow a img {
    position: relative;
    top: 5px;
    left: -10px;
    margin: 0 auto;
  }

  .section-main-block .scroll-image-block .scroll-image-list .arrow-rotate {
    position: relative;
    transform: rotate(-90deg);
  }

  .section-main-block
    .scroll-image-block
    .scroll-image-list
    .arrow-rotate
    a
    img {
    position: relative;
    top: 15px;
    margin: 0 auto;
  }

  .section-main-block .form-block .form .form-items {
    margin-bottom: 150px;
  }

  .footer-navigation-block {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-navigation-block .down-logo {
    display: block;
    width: 100%;
    text-align: center;
  }

  .footer-navigation-block .down-navigation-block-links {
    width: 100%;
  }

  .footer-navigation-block .down-navigation-block-links .dowm-navigation {
    min-width: 100%;
  }

  .footer-navigation-block
    .down-navigation-block-links
    .dowm-navigation
    .dowm-navigation-list {
    justify-content: space-around;
  }
}

@media (max-width: 780px) {
  .header-img {
    background-size: 100% 100%;
    height: 600px;
  }

  .container {
    max-width: 550px;
  }

  .header-section {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }

  .header-section .logo {
    display: block;
    width: 100%;
  }

  .header-section .header-navigation {
    width: 100%;
  }

  .survival .survival-body {
    display: block;
  }

  .survival .survival-body h1 {
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .survival .survival-body .survival-text {
    display: block;
    max-width: 100%;
    text-align: center;
  }

  .survival .survival-body .survival-button {
    display: block;
    max-width: 76px;
    margin: 0 auto;
  }

  .section-main-block .scroll-image-block {
    display: block;
  }

  .section-main-block .scroll-image-block .scroll-image-list {
    display: block;
    text-align: center;
    margin-bottom: 100px;
  }

  .section-main-block .scroll-image-block .scroll-image-list .arrow {
    transform: rotate(90deg);
    display: inline-block;
  }

  .section-main-block .scroll-image-block .scroll-image-list .arrow a img {
    position: relative;
    top: 5px;
    left: -10px;
    margin: 0 auto;
  }

  .section-main-block .scroll-image-block .scroll-image-list .arrow-rotate {
    position: relative;
    transform: rotate(-90deg);
  }

  .section-main-block
    .scroll-image-block
    .scroll-image-list
    .arrow-rotate
    a
    img {
    position: relative;
    top: 15px;
    margin: 0 auto;
  }

  .section-main-block .form-block .form .form-items {
    margin-bottom: 150px;
  }
}

@media (max-width: 400px) {
  .header-section {
    margin-bottom: 30px;
  }

  .header-section .header-navigation {
    width: 100%;
  }

  .header-section .header-navigation .navigation-list li {
    width: 40%;
  }

  .header-section .header-navigation .navigation-list li a {
    font-size: 18px;
  }

  .header-section .header-navigation .navigation-list .list-item-sign {
    padding: 2px 0;
  }

  .survival .survival-body h1 {
    font-size: 42px;
  }

  .survival .survival-body .survival-text {
    font-size: 16px;
  }

  .survival .survival-body .survival-button {
    display: block;
    max-width: 76px;
    margin: 0 auto;
  }

  .section-main-block .block-title h2 {
    font-size: 44px;
    padding-top: 80px;
  }

  .section-main-block .block-title .sub-h {
    margin-top: 20px;
    line-height: 40px;
  }

  .form-block .form .form-items {
    margin-bottom: 150px;
  }

  .footer-navigation-block {
    line-height: 50px;
  }

  .footer-navigation-block .down-navigation-block {
    display: block;
  }

  .footer-navigation-block
    .down-navigation-block
    .down-navigation
    .down-navigation-list {
    display: block;
    text-align: center;
  }

  .footer-navigation-block
    .down-navigation-block
    .down-navigation
    .down-navigation-list
    li
    a {
    font-size: 20px;
    line-height: 50px;
  }
}
