$color-orange-main: #CD6326;
$color-orange-light: #E39128;
$color-orange-dark: #8F5613;
$color-font-light: #F7F7F7;
$color-font-gray: #666666;
$color-font-dark: #333333;
$color-fon: #CCCCCC;

$fs_48: 48px;
$fs_27: 27px;
$fs_24: 24px;
$fs_22: 22px;


* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    
}

body {
    background-color: $color-fon;
}


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li a {
    font-size: 23px;
    line-height: 60px;
    color: $color-font-light;
}

a {
    text-decoration: none;
}

h1 {
    color: $color-orange-main;
    font-size: $fs_48;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 1px;
}

h2 {
    color: $color-font-dark;
    font-size: $fs_48;
    line-height: 72px;
}

h3 {
    color: $color-font-dark;
    font-size: $fs_27;
    line-height: 40.5px;
}

h4 {
    color:$color-font-light;
    font-size: $fs_22;
    line-height: 36px;
}
.sh2 {
    color: $color-font-gray;
    font-size: $fs_24;
    line-height: 36px;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}


.header-main-block {
    margin-bottom: 250px;
    .header-img {
        img {
            position: absolute;
            z-index: -20;
            top: -1px;
            background-size: cover;
            width: 100%;
            max-height: 780px;
        }
    }
    .header-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 120px;
        padding-top: 20px;
        .logo {
            display: flex;
            align-items: center;
            .logo-title {
                margin-left: 15px;
                font-family: 'Roboto', sans-serif;
                font-size: 32px;
                line-height: 60px;
                text-transform: uppercase;
                color: $color-font-light;
            }
        }

        .header-navigation {
            width: 480px;
            display: flex;
            align-items: center;
            .navigation-list {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;   
                justify-content: space-between;
                .list-item-sign {
                    a {
                        text-align: center;
                        line-height: 40px;
                    }
                    border: 2px $color-orange-main solid;
                    border-radius: 5px;
                    padding: 2px 23px;
                }
            }
        }
    }

    .survival {
        .survival-body {
            h1 {
                margin-bottom: 51px;
                
                max-width: 199px;
            }
            .survival-text {
                max-width: 274px;
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 65px;
                color:$color-font-light;
            }
            .survival-button {
                font-family: 'Roboto', sans-serif;
                font-size: 23px;
                line-height: 27px;
                padding: 16px 42px;
                color: $color-font-light;
                background-color: $color-orange-main;
                border-radius: 5px;
                
            }
        }
    }
    
}


.section-main-block {
    position: relative;
    top: 126px;
   
    .block-title {
        display: block;
        text-align: center;
        font-size: $fs_48;
        line-height: 76px;
        .sub-h {
            font-size: 24px;
            color: $color-font-gray;
            margin-bottom: 100px;
        }
    }
    .scroll-image-block {
        display: flex;
        margin-bottom: 220px;
        .scroll-image-list {
            
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            
            .image-item {
                position: relative;
                .image-item-titel { 
                    position: absolute;
                    bottom: 60px;
                    width: 100%;
                    h4 {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    span{
                        display: block;
                        text-align: center;
                        font-size: 17px;
                        line-height: 27px;
                        color: $color-font-light;
                    }
                    
                    
                }
            }
            .arrow-rotate {
                position: relative;
                transform: rotate(180deg);
                top: -15px
            }
        }
    
    }

    .form-block {
        display: block;
        text-align: center;
        max-width: 660px;
        margin: 0 auto;
        
        h3 {
            margin-bottom: 61px;
        }
        .form {
            display: flex;
            align-items: center;
                  
                .form-items {
                    display: flex;
                    margin-bottom: 239px;
                    width: 100%;
                    .email-field {
                        width: 100%;
                        font-family: 'Roboto', sans-serif;
                        font-size: 23px;
                        line-height: 30px;
                        padding: 15px;
                    }
                    .button {
                        font-family: 'Roboto', sans-serif;
                        font-size: 23px;
                        line-height: 30px;
                        padding: 0 35px;
                        
                    }
                }
            }
        }
    }


